{
	# servers {
	# 	# Disable http v2 and v3
	# 	protocols h1
	# }
	log {
		output stderr
		level warn
	}
}

{$DOMAIN::2020} {
	# Route requests to the distributor node
	handle_path /distributor/* {
		reverse_proxy distributor:3334
		tracing {
			span distributor_caddy
		}
	}

	handle_path /query/* {
		reverse_proxy localhost:8081
	}

	route /prometheus* {
		uri strip_prefix /prometheus

		@notAllowedIP not remote_ip 65.21.233.125 # monitoring.joyutils.org
		respond @notAllowedIP 403

		basicauth {
			monitoring $2a$14$gbe8Y/6JZX6RNmS.GuLIp.Cqey3OLguTx83e0xgaYpyXPOCokAI3W
		}

		reverse_proxy http://localhost:9090
  }

	# Optionally allow jaeger and prometheus server to monitor remotely. 
	# Generally not a good idea as traces and metrics may reveal sensitive information.
	# Prometheus
	# handle_path /prometheus/* {
	#	reverse_proxy prometheus:9090
	#}
	# Jaeger
	# handle /* {
	#     reverse_proxy jaeger:16686
	# }
}

# For future configuration when storage-node released that works
# correctly with multiple nodes sharing an 'uploads' volume.
#
# # 'named matcher' used to redirect HTTP POST requests (file uploads)
# # to the storage node API to a different node.
# @post {
# 	method POST
# }
# # Route requests to the storage node(s) cluster
# # These nodes ideally share an external storage volume.
# handle_path /storage/* {
# 	# Upload requests to a single node
# 	reverse_proxy @post /api/v1/files storage-1:3333
# 	# All other requests
# 	reverse_proxy {
# 		lb_policy random_choose 2
# 		# List of nodes to load balance connections to. These nodes
# 		# would be effectively 'read-only' nodes.
# 		to storage-1:3333
# 		to storage-2:3333
# 	}
# 	tracing {
# 		span storage_caddy
# 	}
# }
