# id passed as env variable
endpoints:
  queryNode: http://graphql-server:8081/graphql
  joystreamNodeWs: ws://joystream-node:9944/
directories:
  assets: /data
  cacheState: /cache
logs:
  file:
    level: debug
    path: /logs
    maxFiles: 30 # 30 days or 30 * 50 MB
    maxSize: 50485760 # 50 MB
  console:
    level: verbose
  # elastic: # elastic endpoint and credentials are passed as env variables
  #   level: http
limits:
  storage: 500G
  maxConcurrentStorageNodeDownloads: 100
  maxConcurrentOutboundConnections: 300
  outboundRequestsTimeoutMs: 5000
  pendingDownloadTimeoutSec: 3600
  maxCachedItemSize: 20G
  queryNodeCacheTTL: 60
intervals:
  saveCacheState: 60
  checkStorageNodeResponseTimes: 60
  cacheCleanup: 86400 # every 24h, cache cleanup currently is very heavy on QN
publicApi:
  port: 3334
operatorApi:
  port: 3335
  hmacSecret: change-this-secret
keys:
  # - suri: //Alice
  # - mnemonic: "escape naive annual throw tragic achieve grunt verify cram note harvest problem"
  #   type: ed25519
  - keyfile: "/keystore/distributor-role-key.json"
workerId: 0
