# Can be anything you like, as long as it's unique
NODE_ID=member-node

################
# URLS AND PORTS
################

# Set this to https://your.domain if you want to use Caddy in Docker
CADDY_DOMAIN=http://localhost:2020 

# Websocket RPC endpoint indexer will use to fetch blocks
# Public endpoint
# JOYSTREAM_NODE_WS=wss://rpc.joystream.org:9944/
# Local node on same host (docker desktop)
# JOYSTREAM_NODE_WS=ws://host.docker.internal:9944/
# joystream-node docker service in compose stack
JOYSTREAM_NODE_WS=ws://joystream-node:9944/

# QN indexer gateway used by processor
# You can use an external indexer to speed up initial QN sync
# PROCESSOR_INDEXER_GATEWAY=https://mainnet-rpc-1.joystream.org/query-node/indexer/graphql
PROCESSOR_INDEXER_GATEWAY=http://hydra-indexer-gateway:4000/graphql

################
# VOLUMES
################

# You can use absolute paths (e.g. /root/js-data/chain) or relative paths from the root of the project (e.g. ../js-data/chain)

# Joystream node chain data
CHAIN_VOLUME=./chain
# QN database data
DATABASE_VOLUME=./db
# Distributor node data
DISTRIBUTOR_KEYSTORE_VOLUME=./distributor/keystore
DISTRIBUTOR_DATA_VOLUME=./distributor/data
DISTRIBUTOR_CACHE_VOLUME=./distributor/cache
DISTRIBUTOR_LOGS_VOLUME=./distributor/logs
DISTRIBUTOR_SCRATCH_VOLUME=./distributor/scratch
DISTRIBUTOR_CONFIG_VOLUME=./distributor/config/config.yml
# Storage node data
STORAGE_KEYSTORE_VOLUME=./storage/keystore
STORAGE_DATA_VOLUME=./storage/data
STORAGE_LOGS_VOLUME=./storage/logs

################
# OTHER
################

# yes = enabled, no = disabled
ENABLE_TELEMETRY=yes
ELASTIC_URL=https://elastic.joyutils.org:443
ELASTIC_USERNAME=test
ELASTIC_PASSWORD=test

################
# LEAVE DEFAULT (unless you know what you are doing)
################

INDEXER_DB_NAME=query_node_indexer
PROCESSOR_DB_NAME=query_node_processor
DB_USER=postgres
DB_PASS=postgres
DB_PORT=5432

# GraphQL server ports
GRAPHQL_SERVER_PORT=8081
PROCESSOR_STATE_APP_PORT=8082

# Hydra indexer gateway GraphQL server port
# Remember to change it in PROCESSOR_INDEXER_GATEWAY as well
HYDRA_INDEXER_GATEWAY_PORT=4000

NODE_ENV=production
