COMPOSE_PROJECT_NAME=joystream

# Websocket RPC endpoint indexer will use to fetch blocks
# Public endpoint
# JOYSTREAM_NODE_WS=wss://rpc.joystream.org:9944/
# Local node on same host (docker desktop)
# JOYSTREAM_NODE_WS=ws://host.docker.internal:9944/
# joystream-node docker service in compose stack
JOYSTREAM_NODE_WS=ws://joystream-node:9944/

# Path to store chain data. Only relevant when running joystream-node docker service
CHAIN_BASE_PATH=./chain

# We use a single postgres service for both the query node indexer and processor.
# DB config:
# Path to store the query-node database
DATABASE_VOLUME=./db
INDEXER_DB_NAME=query_node_indexer
PROCESSOR_DB_NAME=query_node_processor
DB_USER=postgres
DB_PASS=postgres
DB_PORT=5432

# GraphQL server ports
GRAPHQL_SERVER_PORT=8081
PROCESSOR_STATE_APP_PORT=8082

# Hydra indexer gateway GraphQL server port
# Remember to change it in PROCESSOR_INDEXER_GATEWAY below as well
HYDRA_INDEXER_GATEWAY_PORT=4000

# Indexer gateway used by processor.
PROCESSOR_INDEXER_GATEWAY=http://hydra-indexer-gateway:4000/graphql
# External indexer gateway if you do not want to run an indexer.
# PROCESSOR_INDEXER_GATEWAY=https://mainnet-rpc-1.joystream.org/query-node/indexer/graphql

